In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('nba_2013.csv')

In [8]:
data.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [22]:
data = data.drop(['player','bref_team_id','season','season_end'],axis=1)
data.head()

,pos,age,g,gs,mp,fg,fga,fg.,x3p,x3pa,...,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,SF,23,63,0,847,66,141,0.468,4,15,...,0.660,72,144,216,28,23,26,30,122,171
1,C,20,81,20,1197,93,185,0.503,0,0,...,0.581,142,190,332,43,40,57,71,203,265
2,PF,27,53,12,961,143,275,0.520,0,0,...,0.639,102,204,306,38,24,36,39,108,362
3,SG,28,73,73,2552,464,1011,0.459,128,300,...,0.815,32,230,262,248,35,3,146,136,1330
4,C,25,56,30,951,136,249,0.546,0,1,...,0.836,94,183,277,40,23,46,63,187,328

In [26]:
data.isnull().sum()

pos     0
age     0
g       0
gs      0
mp      0
fg      0
fga     0
x3p     0
x3pa    0
x2p     0
x2pa    0
ft      0
fta     0
orb     0
drb     0
trb     0
ast     0
stl     0
blk     0
tov     0
pf      0
pts     0
dtype: int64

In [25]:
data = data.drop(['fg.','x3p.','x2p.','efg.','ft.'],axis=1)
data.head()

,pos,age,g,gs,mp,fg,fga,x3p,x3pa,x2p,...,fta,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,SF,23,63,0,847,66,141,4,15,62,...,53,72,144,216,28,23,26,30,122,171
1,C,20,81,20,1197,93,185,0,0,93,...,136,142,190,332,43,40,57,71,203,265
2,PF,27,53,12,961,143,275,0,0,143,...,119,102,204,306,38,24,36,39,108,362
3,SG,28,73,73,2552,464,1011,128,300,336,...,336,32,230,262,248,35,3,146,136,1330
4,C,25,56,30,951,136,249,0,1,136,...,67,94,183,277,40,23,46,63,187,328

In [28]:
data.dtypes

pos     object
age      int64
g        int64
gs       int64
mp       int64
fg       int64
fga      int64
x3p      int64
x3pa     int64
x2p      int64
x2pa     int64
ft       int64
fta      int64
orb      int64
drb      int64
trb      int64
ast      int64
stl      int64
blk      int64
tov      int64
pf       int64
pts      int64
dtype: object

In [57]:
X = data.drop(['pts'], axis=1)
y = data.pts

In [59]:
X.head()

,pos,age,g,gs,mp,fg,fga,x3p,x3pa,x2p,...,ft,fta,orb,drb,trb,ast,stl,blk,tov,pf
0,SF,23,63,0,847,66,141,4,15,62,...,35,53,72,144,216,28,23,26,30,122
1,C,20,81,20,1197,93,185,0,0,93,...,79,136,142,190,332,43,40,57,71,203
2,PF,27,53,12,961,143,275,0,0,143,...,76,119,102,204,306,38,24,36,39,108
3,SG,28,73,73,2552,464,1011,128,300,336,...,274,336,32,230,262,248,35,3,146,136
4,C,25,56,30,951,136,249,0,1,136,...,56,67,94,183,277,40,23,46,63,187

In [61]:
X = pd.get_dummies(X)
X.head()

,age,g,gs,mp,fg,fga,x3p,x3pa,x2p,x2pa,...,blk,tov,pf,pos_C,pos_F,pos_G,pos_PF,pos_PG,pos_SF,pos_SG
0,23,63,0,847,66,141,4,15,62,126,...,26,30,122,0,0,0,0,0,1,0
1,20,81,20,1197,93,185,0,0,93,185,...,57,71,203,1,0,0,0,0,0,0
2,27,53,12,961,143,275,0,0,143,275,...,36,39,108,0,0,0,1,0,0,0
3,28,73,73,2552,464,1011,128,300,336,711,...,3,146,136,0,0,0,0,0,0,1
4,25,56,30,951,136,249,0,1,136,248,...,46,63,187,1,0,0,0,0,0,0

In [51]:
y.dtypes

dtype('int64')

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state= 42)

In [53]:
X_train.dtypes

pos     object
age      int64
g        int64
gs       int64
mp       int64
fg       int64
fga      int64
x3p      int64
x3pa     int64
x2p      int64
x2pa     int64
ft       int64
fta      int64
orb      int64
drb      int64
trb      int64
ast      int64
stl      int64
blk      int64
tov      int64
pf       int64
dtype: object

In [52]:
y_train.dtypes

dtype('int64')

In [46]:
from sklearn.neighbors import KNeighborsRegressor

In [63]:
lst_k = []
lst_r_score = []
for K_value in range(1,int(y_train.shape[0]**0.5)):
    lst_k.append(K_value)
    neigh = KNeighborsRegressor(n_neighbors = K_value)
    neigh.fit(X_train, y_train)
    score = neigh.score(X_test, y_test)*100
    lst_r_score.append(score)
    print('The r^2 score is ',score,' for K-value: ',K_value)

The r^2 score is  97.38712786997982  for K-value:  1
The r^2 score is  97.93501660293283  for K-value:  2
The r^2 score is  98.01637192891108  for K-value:  3
The r^2 score is  98.19351365695319  for K-value:  4
The r^2 score is  97.99222027357129  for K-value:  5
The r^2 score is  97.73455500914393  for K-value:  6
The r^2 score is  97.8009776298409  for K-value:  7
The r^2 score is  97.71352903657294  for K-value:  8
The r^2 score is  97.61623479428688  for K-value:  9
The r^2 score is  97.53197378432347  for K-value:  10
The r^2 score is  97.68748034548965  for K-value:  11
The r^2 score is  97.61495509839216  for K-value:  12
The r^2 score is  97.5006511372254  for K-value:  13
The r^2 score is  97.53979735336775  for K-value:  14
The r^2 score is  97.51865392035552  for K-value:  15
The r^2 score is  97.43839366371094  for K-value:  16
The r^2 score is  97.31577660599517  for K-value:  17
The r^2 score is  97.18185395172183  for K-value:  18